footer.footer.block
  .footer--promo
    include ../includes/index/promo

  .footer--basement
    .footer--in.block--in
      .footer--logo
        include ../includes/index/logo

      .footer--text
        p Terms of Service

        p © 2003-2021 All Rights Reserved.