header.header.block
  .header--in.block--in
    .header--left
      .header--logo
        include ../includes/index/logo

      .header--lang
        p Ro

    .header--right
      .header--nav
        include ../includes/index/nav

      .header--lang.-tablet
        p Ro

      .header--button
        a.button.-small(href='tel:+37379450640') +373 79 450 640
