.achievements
  .achievements--item 
    .achievements--icon 
      svg(width="52" height="51")
        use(xlink:href="./img/sprite.svg#cup")

    .achievements--description 
      .block--title.-h3 С 2004 года на рынке.

      .achievements--text За много лет работы на рынке производства изделий из ПВХ-профилей, компания ZION зарекомендовала себя как надежный производитель и поставщик.

  .achievements--item 
    .achievements--icon 
      svg(width="48" height="55")
        use(xlink:href="./img/sprite.svg#handshake")

    .achievements--description 
      .block--title.-h3 Лучшая цена без посредников.

      .achievements--text Заказывая изделия у нас, вы можете быть уверены, что получили самую низкую цену на рынке.

  .achievements--item 
    .achievements--icon 
      svg(width="57" height="53")
        use(xlink:href="./img/sprite.svg#boss")

    .achievements--description 
      .block--title.-h3 Собственное производство.

      .achievements--text Наши производственные цеха расположены в городе Кишиневе и Комрате и оснащены передовым оборудованием.

  .achievements--item 
    .achievements--icon 
      svg(width="66" height="54")
        use(xlink:href="./img/sprite.svg#europe")

    .achievements--description 
      .block--title.-h3 Европейское качество.

      .achievements--text Качетво изделий, производимых нашей компанией, подтверждены сектификатами соответствия с высокими европейскими стандартами.

  .achievements--item 
    .achievements--icon 
      svg(width="40" height="55")
        use(xlink:href="./img/sprite.svg#medal")

    .achievements--description 
      .block--title.-h3 Эксклюзивный импортер.

      .achievements--text Компания ZION является единственным поставщиком высококачественных ПВХ-профилей KMG ALTEST Ltd. и WINHOUSE ®.

  .achievements--item 
    .achievements--icon 
      svg(width="54" height="54")
        use(xlink:href="./img/sprite.svg#warranty")

    .achievements--description 
      .block--title.-h3 Гарантия.

      .achievements--text На все изделия, изготовленные компанией ZION, распространяется гарантия 10 лет.
