section.block.-blue
  .block--in.-centered.-overflowed
    p.block--tag.-white Надежная и долговечная

    h2.block--title.-h2.-white Фурнитура

    .cards 
      .cards--item 
        .cards--header
          .cards--image 
            img(src="./img/cards-image.png", alt="")

          .cards--logo 
            img(src="./img/companies-logos/endow.png", alt="")

        .cards--body 
          h4.cards--title Турецкая фурнитура, достойная быть лидером в категории цена/качество. 

          p.cards--subtitle Выбирая Endow, вы получаете самую доступную и в тоже время качетвенную оконно-дверную фурнитуру.

          ul.cards--list 
            li.cards--list_item Усиленные петли.

            li.cards--list_item Легкодоступные и простые регулировки. 

            li.cards--list_item Блокиратор ошибочного действия.

            li.cards--list_item Микропроветривание (система щелевого проветривания).

            li.cards--list_item Система «антивзлом».

      .cards--item 
        .cards--header
          .cards--image 
            img(src="./img/cards-image2.png", alt="")

          .cards--logo 
            img(src="./img/companies-logos/g-u.png", alt="")

        .cards--body 
          h4.cards--title Немецкая фурнитура премиум класса. 

          p.cards--subtitle Немецкая фурнитура G-U подойдет для тех, кто не привык экономить, и предлагает повышенное качетво за приемлемую цену.

          ul.cards--list 
            li.cards--list_item Нагрузка на петли до 150 кг.

            li.cards--list_item Блокировка ошибочного открывания.

            li.cards--list_item Новая система смазки делает работу деталей более плавными.

            li.cards--list_item Поворотно-откидной режим фурнитуры оснащен микрощелевым проветриванием.

            li.cards--list_item В фурнитуре GU все детали одного серебристо-матового цвета.

      .cards--item 
        .cards--header
          .cards--image 
            img(src="./img/cards-image3.png", alt="")

          .cards--logo 
            img(src="./img/companies-logos/maco.png", alt="")

        .cards--body 
          h4.cards--title Австрийская фурнитура высочайшего качества. 

          p.cards--subtitle Выбирая ведущего производителя оконно-дверной фурнитуры Maco, вы получаете высочайшее качество проверенное временем.

          ul.cards--list 
            li.cards--list_item Надёжность и долговечность 

            li.cards--list_item Все элементы фурнитуры изготовлены  из литой или прессованной оцинкованной стали.

            li.cards--list_item Новая система смазки делает работу деталей более плавными.

            li.cards--list_item Поворотно-откидной режим фурнитуры оснащен микрощелевым проветриванием.

            li.cards--list_item В фурнитуре GU все детали одного серебристо-матового цвета.
