section.cta.block 
  .cta--in.block--in 
    .cta--description
      .cta--title Получите бесплатную консультацию эксперта

      .cta--text Наш сотрудник с удовольствием поможет вам определится с нужной конфгурацией и при этом сэкономить.

    a.button(href='tel:+37379450640')
      svg
        use(xlink:href="./img/sprite.svg#fi_phone-outgoing")

      span +373 
      | 79 450 6410