section.hero.block
  .hero--in.block--in
    .hero--content 
      p.block--tag ЭКСКЛЮЗИВНЫЙ <br /> импортёр KMG ALTEST LTD.

      h1.block--title.-h1 Ваше производство окон и дверей


      p.hero--review Лидер на рынке по производству и импорту материалов и изделий из ПВХ-профиля и алюминия.

      a.button(href='tel:+37379450640')
        svg
          use(xlink:href="./img/sprite.svg#fi_phone-outgoing")

        span +373 
        | 79 450 6410

    .hero--image 
      img(src="./img/hero-image.png", alt="")
