nav.nav
  ul
    li
      a(href="#slider").nav--item ПВХ-профиль
    li
      a(href="#tabs").nav--item Цены
    li
      a(href="#cards").nav--item Фурнитура
    li
      a(href="#footer").nav--item Дилерам
    li
      a(href="#why_us").nav--item О нас
