nav.nav
  ul
    li
      a(href="#").nav--item ПВХ-профиль
    li
      a(href="#").nav--item Цены
    li
      a(href="#").nav--item Фурнитура
    li
      a(href="#").nav--item Дилерам
    li
      a(href="#").nav--item О нас