nav.nav_sticky
  ul
    li
      a(href="#slider").nav_sticky--item ПВХ-профиль
    li
      a(href="#tabs").nav_sticky--item Цены
    li
      a(href="#cards").nav_sticky--item Фурнитура
    li
      a(href="#footer").nav_sticky--item Дилерам
    li
      a(href="#why_us").nav_sticky--item О нас
