section.partners.block 
  .block--in
    h3.block--title.-h3 Наши партнеры:

    ul.partners--logos
      li.partners--item 
        img(src="./img/grand-hall.png", alt="Grand Hall logo")

      li.partners--item 
        img(src="./img/sun-city.png", alt="Sun City logo")

      li.partners--item 
        img(src="./img/jumbo.png", alt="Jumbo logo")

      li.partners--item 
        img(src="./img/terranova.png", alt="Terranova logo")

      li.partners--item 
        img(src="./img/partner-logo.png", alt="")

      li.partners--item 
        img(src="./img/inamstro.png", alt="Inamstro logo")

      li.partners--item 
        img(src="./img/maximilian.png", alt="Maximilian Pub&Grill logo")

      li.partners--item 
        img(src="./img/astercon.png", alt="Astercon logo")
