section.promo.block
  .promo--in.block--in
    .promo--text
      h3.block--title.-h3.-white Уважаемые клиенты,

      p Наш более чем 17 летний практический опыт в строительной индустрии зарекомендовал нас как надежный источник премиальных продуктов и качественного обслуживания клиентов.

      p Мы выполняем заказы от малых до крупномасштабных проектов как для частных клиентов, так и для коммерческих компаний. Наше предложение включает, но не ограничивается фиксированными, поворотно-откидными окнами, окнами типа тентов и бункеров, а также дверьми во французском стиле, распашными, наклонными и раздвижными.

      p Все наши изделия с гордостью производятся нашими высококвалифицированными специалистами с использованием компьютера для точного соответствия с требованиями заказчика.

      a.button(href='tel:+37379450640')
        svg
          use(xlink:href="./img/sprite.svg#fi_phone-outgoing")

        span +373
        | 79 450 640

    .promo--banner
      h3.block--title.-h3 Приглашаем дилеров к сотрудничеству

      p Мы предлагаем нашим партнерам самые выгодные условия сотрудничества на рынке.

      .promo--banner_image
        img(src="./img/banner.png", alt="")
