.review
  .review--text
    p Лидер на рынке по производству и импорту материалов и изделий из ПВХ-профиля и алюминия. 

  .review--footer
    .review--author_photo
      img(src="./img/author.png", alt="")

    .review--author_info
      p Сергей Иванов
      span Sales Director