.swiper-container 
  .swiper-wrapper 
    .swiper-slide 
      .swiper-slide--image 
        img(src="./img/slider-image.png", alt="")

      .swiper-slide--title KMG Prelude

      .swiper-slide--description 
        .swiper-slide--description_row
          .swiper-slide--description_value 4
          .swiper-slide--description_line
          .swiper-slide--description_parameter Количество камер

        .swiper-slide--description_row
          .swiper-slide--description_value A
          .swiper-slide--description_line
          .swiper-slide--description_parameter Класс профиля

        .swiper-slide--description_row
          .swiper-slide--description_value 60 мм
          .swiper-slide--description_line
          .swiper-slide--description_parameter Монтажная глубина

        .swiper-slide--description_row
          .swiper-slide--description_value U = 1,36 W/(m2.K)
          .swiper-slide--description_line
          .swiper-slide--description_parameter Теплоизоляция

        .swiper-slide--description_row
          .swiper-slide--description_value 33 dB
          .swiper-slide--description_line
          .swiper-slide--description_parameter Шумоизоляция

        .swiper-slide--description_row
          .swiper-slide--description_value С1
          .swiper-slide--description_line
          .swiper-slide--description_parameter Класс ветроустойчивости

      a(href="#").swiper-slide--file
        svg
          use(xlink:href="./img/sprite.svg#file_blank_outline")

        | Сертификаты

    .swiper-slide 
      .swiper-slide--image 
        img(src="./img/slider-image.png", alt="")

      .swiper-slide--title KMG Prelude

      .swiper-slide--description 
        .swiper-slide--description_row
          .swiper-slide--description_value 4
          .swiper-slide--description_line
          .swiper-slide--description_parameter Количество камер

        .swiper-slide--description_row
          .swiper-slide--description_value A
          .swiper-slide--description_line
          .swiper-slide--description_parameter Класс профиля

        .swiper-slide--description_row
          .swiper-slide--description_value 60 мм
          .swiper-slide--description_line
          .swiper-slide--description_parameter Монтажная глубина

        .swiper-slide--description_row
          .swiper-slide--description_value U = 1,36 W/(m2.K)
          .swiper-slide--description_line
          .swiper-slide--description_parameter Теплоизоляция

        .swiper-slide--description_row
          .swiper-slide--description_value 33 dB
          .swiper-slide--description_line
          .swiper-slide--description_parameter Шумоизоляция

        .swiper-slide--description_row
          .swiper-slide--description_value С1
          .swiper-slide--description_line
          .swiper-slide--description_parameter Класс ветроустойчивости

      a(href="#").swiper-slide--file
        svg
          use(xlink:href="./img/sprite.svg#file_blank_outline")

        | Сертификаты

    .swiper-slide 
      .swiper-slide--image 
        img(src="./img/slider-image.png", alt="")

      .swiper-slide--title KMG Prelude

      .swiper-slide--description 
        .swiper-slide--description_row
          .swiper-slide--description_value 4
          .swiper-slide--description_line
          .swiper-slide--description_parameter Количество камер

        .swiper-slide--description_row
          .swiper-slide--description_value A
          .swiper-slide--description_line
          .swiper-slide--description_parameter Класс профиля

        .swiper-slide--description_row
          .swiper-slide--description_value 60 мм
          .swiper-slide--description_line
          .swiper-slide--description_parameter Монтажная глубина

        .swiper-slide--description_row
          .swiper-slide--description_value U = 1,36 W/(m2.K)
          .swiper-slide--description_line
          .swiper-slide--description_parameter Теплоизоляция

        .swiper-slide--description_row
          .swiper-slide--description_value 33 dB
          .swiper-slide--description_line
          .swiper-slide--description_parameter Шумоизоляция

        .swiper-slide--description_row
          .swiper-slide--description_value С1
          .swiper-slide--description_line
          .swiper-slide--description_parameter Класс ветроустойчивости

      a(href="#").swiper-slide--file
        svg
          use(xlink:href="./img/sprite.svg#file_blank_outline")

        | Сертификаты

    .swiper-slide 
      .swiper-slide--image 
        img(src="./img/slider-image.png", alt="")

      .swiper-slide--title KMG Prelude

      .swiper-slide--description 
        .swiper-slide--description_row
          .swiper-slide--description_value 4
          .swiper-slide--description_line
          .swiper-slide--description_parameter Количество камер

        .swiper-slide--description_row
          .swiper-slide--description_value A
          .swiper-slide--description_line
          .swiper-slide--description_parameter Класс профиля

        .swiper-slide--description_row
          .swiper-slide--description_value 60 мм
          .swiper-slide--description_line
          .swiper-slide--description_parameter Монтажная глубина

        .swiper-slide--description_row
          .swiper-slide--description_value U = 1,36 W/(m2.K)
          .swiper-slide--description_line
          .swiper-slide--description_parameter Теплоизоляция

        .swiper-slide--description_row
          .swiper-slide--description_value 33 dB
          .swiper-slide--description_line
          .swiper-slide--description_parameter Шумоизоляция

        .swiper-slide--description_row
          .swiper-slide--description_value С1
          .swiper-slide--description_line
          .swiper-slide--description_parameter Класс ветроустойчивости

      a(href="#").swiper-slide--file
        svg
          use(xlink:href="./img/sprite.svg#file_blank_outline")

        | Сертификаты

    .swiper-slide 
      .swiper-slide--image 
        img(src="./img/slider-image.png", alt="")

      .swiper-slide--title KMG Prelude

      .swiper-slide--description 
        .swiper-slide--description_row
          .swiper-slide--description_value 4
          .swiper-slide--description_line
          .swiper-slide--description_parameter Количество камер

        .swiper-slide--description_row
          .swiper-slide--description_value A
          .swiper-slide--description_line
          .swiper-slide--description_parameter Класс профиля

        .swiper-slide--description_row
          .swiper-slide--description_value 60 мм
          .swiper-slide--description_line
          .swiper-slide--description_parameter Монтажная глубина

        .swiper-slide--description_row
          .swiper-slide--description_value U = 1,36 W/(m2.K)
          .swiper-slide--description_line
          .swiper-slide--description_parameter Теплоизоляция

        .swiper-slide--description_row
          .swiper-slide--description_value 33 dB
          .swiper-slide--description_line
          .swiper-slide--description_parameter Шумоизоляция

        .swiper-slide--description_row
          .swiper-slide--description_value С1
          .swiper-slide--description_line
          .swiper-slide--description_parameter Класс ветроустойчивости

      a(href="#").swiper-slide--file
        svg
          use(xlink:href="./img/sprite.svg#file_blank_outline")

        | Сертификаты

    .swiper-slide 
      .swiper-slide--image 
        img(src="./img/slider-image.png", alt="")

      .swiper-slide--title KMG Prelude

      .swiper-slide--description 
        .swiper-slide--description_row
          .swiper-slide--description_value 4
          .swiper-slide--description_line
          .swiper-slide--description_parameter Количество камер

        .swiper-slide--description_row
          .swiper-slide--description_value A
          .swiper-slide--description_line
          .swiper-slide--description_parameter Класс профиля

        .swiper-slide--description_row
          .swiper-slide--description_value 60 мм
          .swiper-slide--description_line
          .swiper-slide--description_parameter Монтажная глубина

        .swiper-slide--description_row
          .swiper-slide--description_value U = 1,36 W/(m2.K)
          .swiper-slide--description_line
          .swiper-slide--description_parameter Теплоизоляция

        .swiper-slide--description_row
          .swiper-slide--description_value 33 dB
          .swiper-slide--description_line
          .swiper-slide--description_parameter Шумоизоляция

        .swiper-slide--description_row
          .swiper-slide--description_value С1
          .swiper-slide--description_line
          .swiper-slide--description_parameter Класс ветроустойчивости

      a(href="#").swiper-slide--file
        svg
          use(xlink:href="./img/sprite.svg#file_blank_outline")

        | Сертификаты

    .swiper-slide 
      .swiper-slide--image 
        img(src="./img/slider-image.png", alt="")

      .swiper-slide--title KMG Prelude

      .swiper-slide--description 
        .swiper-slide--description_row
          .swiper-slide--description_value 4
          .swiper-slide--description_line
          .swiper-slide--description_parameter Количество камер

        .swiper-slide--description_row
          .swiper-slide--description_value A
          .swiper-slide--description_line
          .swiper-slide--description_parameter Класс профиля

        .swiper-slide--description_row
          .swiper-slide--description_value 60 мм
          .swiper-slide--description_line
          .swiper-slide--description_parameter Монтажная глубина

        .swiper-slide--description_row
          .swiper-slide--description_value U = 1,36 W/(m2.K)
          .swiper-slide--description_line
          .swiper-slide--description_parameter Теплоизоляция

        .swiper-slide--description_row
          .swiper-slide--description_value 33 dB
          .swiper-slide--description_line
          .swiper-slide--description_parameter Шумоизоляция

        .swiper-slide--description_row
          .swiper-slide--description_value С1
          .swiper-slide--description_line
          .swiper-slide--description_parameter Класс ветроустойчивости

      a(href="#").swiper-slide--file
        svg
          use(xlink:href="./img/sprite.svg#file_blank_outline")

        | Сертификаты

.swiper-pagination

.swiper-navigation
  svg.swiper-button-prev-custom
    use(xlink:href="./img/sprite.svg#arrow-left")

  svg.swiper-button-next-custom
    use(xlink:href="./img/sprite.svg#arrow-right")