section.tabs.block
  .tabs--in.block--in.-centered
    p.block--tag Лучшее предложение

    h2.block--title.-h2 Цены на готовые изделия

    .tabs--nav
      include ./tabs_nav

    .tabs--content
      #first_tab--panel.tabs--panel(role='tabpanel' aria-labelledby='first_tab--button').-active
        .panel
          .panel--header
            .panel--header_item
              p 3
              span Количество камер профиля

            .panel--header_item
              p Endow
              span Фурнитура

            .panel--header_item
              p Однокамерный
              span Стеклопакет

            .panel--header_item
              p 60 мм
              span Ширина профиля

            .panel--header_item
              p B
              span Класс профиля

          .panel--content
            .panel--option
              .panel--option_title
                p Глухое окно

                span 900 мм x 1400 мм

              .panel--option_image
                img(src='./img/window-options/window1.png', alt='')

                .panel--option_price
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p KMG Prelude

                span 900 мм x 1400 мм

              .panel--option_image
                img(src='./img/window-options/window2.png', alt='')

                .panel--option_price
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p KMG Prelude

                span 1700 мм x 1500 мм

              .panel--option_image
                img(src='./img/window-options/window3.png', alt='')

                .panel--option_price
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p Балконно-оконный блок

                span 1600 мм x 2200 мм

              .panel--option_image
                img(src='./img/window-options/window4.png', alt='')

                .panel--option_price.-centered
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p KMG Prelude

                span 2400 мм x 1500 мм

              .panel--option_image
                img(src='./img/window-options/window5.png', alt='')

                .panel--option_price
                  p 40
                    span €

          .panel--footer
            ul.panel--footer_list
              li
                span Цена указана без монтажа. В цену НЕ входят москитная сетка, подоконник и отлив.

              li
                span Нажмите на желаемый профиль, чтобы узнать цену.

      #second_tab--panel.tabs--panel(role='tabpanel' aria-labelledby='second_tab--button')
        .panel
          .panel--header
            .panel--header_item
              p 3
              span Количество камер профиля

            .panel--header_item
              p Endow
              span Фурнитура

            .panel--header_item
              p Однокамерный
              span Стеклопакет

            .panel--header_item
              p 60 мм
              span Ширина профиля

            .panel--header_item
              p B
              span Класс профиля

          .panel--content
            .panel--option
              .panel--option_title
                p Глухое окно

                span 900 мм x 1400 мм

              .panel--option_image
                img(src='./img/window-options/window1.png', alt='')

                .panel--option_price
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p KMG Prelude

                span 900 мм x 1400 мм

              .panel--option_image
                img(src='./img/window-options/window2.png', alt='')

                .panel--option_price
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p KMG Prelude

                span 1700 мм x 1500 мм

              .panel--option_image
                img(src='./img/window-options/window3.png', alt='')

                .panel--option_price
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p Балконно-оконный блок

                span 1600 мм x 2200 мм

              .panel--option_image
                img(src='./img/window-options/window4.png', alt='')

                .panel--option_price.-centered
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p KMG Prelude

                span 2400 мм x 1500 мм

              .panel--option_image
                img(src='./img/window-options/window5.png', alt='')

                .panel--option_price
                  p 40
                    span €

          .panel--footer
            ul.panel--footer_list
              li
                span Цена указана без монтажа. В цену НЕ входят москитная сетка, подоконник и отлив.

              li
                span Нажмите на желаемый профиль, чтобы узнать цену.


      #third_tab--panel.tabs--panel(role='tabpanel' aria-labelledby='third_tab--button')
        .panel
          .panel--header
            .panel--header_item
              p 3
              span Количество камер профиля

            .panel--header_item
              p Endow
              span Фурнитура

            .panel--header_item
              p Однокамерный
              span Стеклопакет

            .panel--header_item
              p 60 мм
              span Ширина профиля

            .panel--header_item
              p B
              span Класс профиля

          .panel--content
            .panel--option
              .panel--option_title
                p Глухое окно

                span 900 мм x 1400 мм

              .panel--option_image
                img(src='./img/window-options/window1.png', alt='')

                .panel--option_price
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p KMG Prelude

                span 900 мм x 1400 мм

              .panel--option_image
                img(src='./img/window-options/window2.png', alt='')

                .panel--option_price
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p KMG Prelude

                span 1700 мм x 1500 мм

              .panel--option_image
                img(src='./img/window-options/window3.png', alt='')

                .panel--option_price
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p Балконно-оконный блок

                span 1600 мм x 2200 мм

              .panel--option_image
                img(src='./img/window-options/window4.png', alt='')

                .panel--option_price.-centered
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p KMG Prelude

                span 2400 мм x 1500 мм

              .panel--option_image
                img(src='./img/window-options/window5.png', alt='')

                .panel--option_price
                  p 40
                    span €

          .panel--footer
            ul.panel--footer_list
              li
                span Цена указана без монтажа. В цену НЕ входят москитная сетка, подоконник и отлив.

              li
                span Нажмите на желаемый профиль, чтобы узнать цену.


      #fourth_tab--panel.tabs--panel(role='tabpanel' aria-labelledby='fourth_tab--button')
        .panel
          .panel--header
            .panel--header_item
              p 3
              span Количество камер профиля

            .panel--header_item
              p Endow
              span Фурнитура

            .panel--header_item
              p Однокамерный
              span Стеклопакет

            .panel--header_item
              p 60 мм
              span Ширина профиля

            .panel--header_item
              p B
              span Класс профиля

          .panel--content
            .panel--option
              .panel--option_title
                p Глухое окно

                span 900 мм x 1400 мм

              .panel--option_image
                img(src='./img/window-options/window1.png', alt='')

                .panel--option_price
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p KMG Prelude

                span 900 мм x 1400 мм

              .panel--option_image
                img(src='./img/window-options/window2.png', alt='')

                .panel--option_price
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p KMG Prelude

                span 1700 мм x 1500 мм

              .panel--option_image
                img(src='./img/window-options/window3.png', alt='')

                .panel--option_price
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p Балконно-оконный блок

                span 1600 мм x 2200 мм

              .panel--option_image
                img(src='./img/window-options/window4.png', alt='')

                .panel--option_price.-centered
                  p 40
                    span €

            .panel--option
              .panel--option_title
                p KMG Prelude

                span 2400 мм x 1500 мм

              .panel--option_image
                img(src='./img/window-options/window5.png', alt='')

                .panel--option_price
                  p 40
                    span €

          .panel--footer
            ul.panel--footer_list
              li
                span Цена указана без монтажа. В цену НЕ входят москитная сетка, подоконник и отлив.

              li
                span Нажмите на желаемый профиль, чтобы узнать цену.

