nav.tabs_nav
  ul(role="tablist").tabs_nav--list
    li
      button#first_tab--button(data-id='first_tab--panel' role='tab' aria-controls='first_tab--panel').tabs_nav--button.-active VеntaPlast
    li
      button#second_tab--button(data-id='second_tab--panel' role='tab' aria-controls='second_tab--panel').tabs_nav--button KMG prelude
    li
      button#third_tab--button(data-id='third_tab--panel' role='tab' aria-controls='third_tab--panel').tabs_nav--button WinHouse
    li
      button#fourth_tab--button(data-id='fourth_tab--panel' role='tab' aria-controls='fourth_tab--panel').tabs_nav--button KMG Prestige