section.why_us.block#why_us
  .why_us--in.block--in
    p.block--tag 2004 — 2021.

    h2.block--title.-h2 Почему мы

    .block--text Мы являемся эксклюзивным дилером компании KMG ALTEST Ltd. Ведущего европейского производителя ПВХ-профиля высокого качества, а также компании Endow, турецкого производителя оконной и дверной фурнитуры повышенной износоустойчивости.

    include ./achievements
