section.why_us.block.-padded
  .why_us--in.block--in
    .block--tag 2004 — 2021.

    .block--title Почему мы

    .block--text Мы являемся эксклюзивным дилером компании KMG ALTEST Ltd. Ведущего европейского производителя ПВХ-профиля высокого качества, а также компании Endow, турецкого производителя оконной и дверной фурнитуры повышенной износоустойчивости. 

    include ./achievements