@import "../mixins/media";

.achievements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 65px;

  @include media-tablet {
    justify-content: space-between;
  }

  &--item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;

    @include media-tablet {
      margin-bottom: 100px;
    }

    @include media-tablet {
      flex-wrap: nowrap;
    }
  }

  &--icon {
    width: 66px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    flex-basis: 100%;

    @include media-tablet {
      margin-bottom: 0;
      margin-right: 50px;
      flex-basis: auto;
    }
  }

  &--description {
    text-align: center;

    @include media-tablet {
      max-width: 85%;
      text-align: left;
    }

    @include media-custom(1360px) {
      max-width: 460px;
    }

    .block--title {
      margin-bottom: 10px;
    }
  }
}
