.block {
  &.-padded {
    padding-top: 200px;
  }

  &--in {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &--title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 72px;
    line-height: 79px;
    letter-spacing: -0.045em;

    &.-h1 {
      margin-bottom: 55px;
      font-size: 84px;
      line-height: 92px;
    }

    &.-h3 {
      font-size: 30px;
      line-height: 36px;
    }
  }

  &--tag {
    margin-bottom: 35px;
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    color: $blue;
    letter-spacing: 0.11em;
    text-transform: uppercase;
  }
}
