.button {
  display: inline-block;
  padding: 18px 40px;
  background-color: $blue;
  border-radius: 8px;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: $white;
  transition: 0.2s;
  white-space: nowrap;

  &:hover {
    background-color: darken($blue, 10%);
  }

  & svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: transparent;
  }

  & span {
    color: rgba($white, 0.6);
  }

  &.-small {
    padding: 8px 15px;
    background-color: none;
    border: 1px solid $blue;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: $blue;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}
