.cta {
  margin-bottom: 100px;
  background-image: url("../img/cta-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  &--in {
    padding: 170px 0 170px 115px;
    box-sizing: border-box;
  }

  &--description {
    max-width: 510px;
    margin-bottom: 50px;
  }

  &--title {
    margin-bottom: 20px;
    font-size: 44px;
    line-height: 48px;
    font-weight: 600;
    letter-spacing: -0.03em;
  }
}
