@import "../mixins/media";

.cta {
  margin-bottom: 100px;
  background-image: url("../img/cta-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  &--in {
    padding: 50px 40px;
    box-sizing: border-box;

    @include media-tablet {
      padding: 170px 0 170px 115px;
    }
  }

  &--description {
    max-width: 510px;
    margin-bottom: 50px;
  }

  &--title {
    margin-bottom: 20px !important;
    font-weight: 600;
    letter-spacing: -0.03em;
  }
}
