@import "../mixins/media";

.footer {
  position: relative;

  &--basement {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $blue-dark;

    @supports (backdrop-filter: blur(40px)) {
      background-color: rgba($blue-dark, 0.8);
      backdrop-filter: blur(40px);
    }
  }

  &--in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;

    @include media-tablet {
      justify-content: space-between;
      padding: 50px 20px;
    }
  }

  &--text {
    display: flex;
    color: rgba($white, 0.6);

    p:not(:last-child) {
      margin-right: 50px;

      @include media-tablet {
        margin-right: 80px;
      }
    }
  }

  &--logo {
    margin-bottom: 20px;

    @include media-tablet {
      margin-right: 20px;
    }
  }
}
