@import "../mixins/media";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 3;
  padding: 30px 0;

  &.-with_shadow {
    box-shadow: 0 2px 6px 0 #a3bac6;
  }

  &--in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &--left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include media-laptop {
      width: auto;
    }
  }

  &--right {
    display: none;

    @include media-laptop {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &--lang a {
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
    color: $gray;
    transition: 0.2s;

    &:hover {
      color: $blue;
    }

    @include media-laptop {
      margin-right: 40px;
    }
  }

  &--menu_open,
  &--menu_close {
    margin-top: 3px;
    margin-left: 20px;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
      fill: $gray;
      transition: 0.2s;

      &:hover {
        fill: $blue;
      }
    }
  }

  &--menu_close {
    display: none;
  }

  &--links {
    display: flex;

    @include media-laptop {
      display: none;
    }
  }
}
