@import "../mixins/media";

.header {
  margin: 30px 0 65px;

  @include media-laptop {
    margin-bottom: 140px;
  }

  &--in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &--left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;

    @include media-laptop {
      width: auto;
      margin-bottom: 0;
    }
  }

  &--right {
    display: flex;
    flex-wrap: wrap;

    @include media-laptop {
      align-items: center;
    }
  }

  &--lang {
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
    color: $blue;

    &.-tablet {
      display: none;
    }

    @include media-laptop {
      display: none;

      &.-tablet {
        display: block;
        margin-right: 40px;
      }
    }
  }
}
