@import "../mixins/media";

.hero {
  margin-bottom: 100px;
  position: relative;

  @include media-custom(1600px) {
    margin-bottom: 200px;
  }

  &--in {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include media-custom(1200px) {
      flex-wrap: nowrap;
    }
  }

  &--content {
    margin-bottom: 60px;

    @include media-tablet-horizontal {
      max-width: 40%;
    }
  }

  &--review {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;

    @include media-tablet {
      font-size: 26px;
      line-height: 30px;
    }

    @include media-custom(1300px) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  &--image {
    margin-right: -40px;

    @include media-tablet {
      margin-right: -100px;
    }

    @include media-tablet-horizontal {
      position: absolute;
      left: 50%;
      margin-right: 0;
    }

    img {
      width: 100%;
    }
  }
}

