.hero {
  margin-bottom: 150px;

  &--in {
    display: flex;
    position: relative;
  }

  &--content {
    max-width: 630px;
    flex-shrink: 0;
  }

  &--review {
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
  }

  &--image {
    position: relative;
    right: -70px;
  }
}
