@import "../mixins/media";

.hero {
  margin-bottom: 100px;

  &--in {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @include media-laptop {
      flex-wrap: nowrap;
    }
  }

  &--content {
    max-width: 630px;
    margin-bottom: 60px;
  }

  &--review {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;

    @include media-tablet {
      margin-bottom: 50px;
      font-size: 40px;
      line-height: 44px;
    }
  }

  &--image {

    @include media-tablet-horizontal {
      right: -270px;
    }

    img {
      width: 100%;
    }
  }
}

