@import "../mixins/media";

.nav {
  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 35px;

    @include media-laptop {
      margin-bottom: 0;
    }

    li {
      margin-bottom: 15px;

      @include media-tablet {
        margin-bottom: 0;
      }
    }
  }

  &--item {
    margin-right: 40px;
    color: $gray;
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
    transition: color 0.2s;

    &:hover {
      color: $blue;
    }
  }
}
