@import "../mixins/media";

.panel {
  padding: 20px;
  background-color: $blue-dark;
  border-radius: 24px;
  text-align: left;
  color: $white;

  @include media-tablet {
    padding: 40px 40px 160px;
  }

  span {
    font-size: 18px;
    opacity: 0.6;
  }

  @supports (backdrop-filter: blur(40px)) {
    background-color: rgba($blue-dark, 0.8);
    backdrop-filter: blur(40px);
  }

  &--header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;

    @include media-tablet-horizontal {
      flex-wrap: nowrap;
      padding-right: 60px;
      padding-left: 60px;
    }

    &_item {
      margin: 10px;

      @include media-tablet-horizontal {
        margin: 0;
      }
    }
  }

  &--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    border-top: 1px solid rgba($white, 0.3);

    @include media-laptop {
      flex-wrap: nowrap;
    }
  }

  &--option {
    position: relative;

    &_title {
      white-space: nowrap;
      text-align: center;
    }

    &_image {
      position: relative;

      @include media-laptop {
        position: static;
      }
    }

    &_price {
      position: absolute;
      top: 50%;
      left: 49%;
      transform: translate(-50%, -50%);
      color: $blue;

      @include media-laptop {
        top: 43%;
      }

      &.-centered {
        top: 35%;

        @include media-laptop {
          top: 43%;
        }
      }

      p {
        display: inline;
        padding: 10px;
        background: $white;
        border-radius: 50%;
        font-size: 35px;
        font-weight: 300;
      }
    }
  }

  &--footer {
    &_list {
      li {
        position: relative;
        padding-left: 15px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 4px;
          height: 4px;
          background-color: $white;
          opacity: 0.6;
          border-radius: 50%;
        }
      }
    }
  }
}
