@import "../mixins/media";

.partners {
  margin-bottom: 75px;

  @include media-tablet {
    margin-bottom: 150px;
  }

  &--logos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    @include media-mobile {
      flex-direction: row;
    }

    @include media-tablet {
      justify-content: space-between;

      .-padded {
        padding: 0 115px;
      }
    }
  }

  &--item {
    margin: 10px;
  }

  .block--title {
    max-width: 800px;
  }
}
