.partners {
  margin-bottom: 150px;

  &--logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &.-padded {
      padding: 0 115px;
    }
  }

  &--item {
    margin: 0 10px;
  }

  & .block--title {
    max-width: 800px;
  }
}
