@import "../mixins/media";

.swiper {
  &-container {
    padding: 120px 0 50px !important;
  }

  &-slide {
    padding: 80px 25px 25px;
    position: relative;
    box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
    box-sizing: border-box;
    border-radius: 12px;
    text-align: center;

    @include media-tablet {
      padding-top: 110px;
    }

    &-prev {
      box-shadow: none;
    }

    &--image {
      position: absolute;
      top: -120px;
      left: 50%;
      transform: translateX(-50%);

      img {
        max-width: 66%;
      }
    }

    &--title {
      margin-bottom: 25px;
      line-height: 26px;
      font-weight: 600;
    }

    &--description {
      margin-bottom: 30px;

      &_row {
        display: flex;
        font-size: 16px;
        line-height: 24px;

        &:not(:last-child) {
          margin-bottom: 10px;

          @include media-tablet {
            margin-bottom: 20px;
          }
        }
      }

      &_value {
        flex-shrink: 0;
        font-size: 14px;

        @include media-mobile {
          font-size: 16px;
        }
      }

      &_line {
        margin: 0 10px;
        width: 100%;
        height: 2px;
        background-image: url("../img/line-separator.png");
        background-repeat: repeat-x;
        align-self: flex-end;
      }

      &_parameter {
        flex-shrink: 0;
        font-weight: 300;
      }
    }

    &--file {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $blue;

      &:hover {
        text-decoration: underline;
      }

      svg {
        min-width: 16px;
        min-height: 16px;
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
    }
  }

  &-pagination {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) !important;
    white-space: nowrap;

    &-bullet {
      width: 12px !important;
      height: 12px !important;
      background-color: #c6c6c6 !important;
      opacity: 1 !important;

      &:not(:last-child) {
        margin-right: 15px;
      }

      &-active {
        background-color: $blue !important;
      }
    }
  }
}

@include media-tablet {
  .swiper {
    &-navigation {
      display: block;
    }

    &-container {
      padding-top: 251px !important;
    }

    &-slide {
      &--description_parameter {
        display: none;
      }

      &--image {
        top: -253px;

        img {
          max-width: unset;
        }
      }

      &--file svg {
        min-width: 20px;
        min-height: 20px;
        width: 20px;
        height: 20px;
      }
    }
  }
}

@include media-tablet-horizontal {
  .swiper {
    &-pagination {
      display: none;
    }
  }
}
