@import "../mixins/media";

.tabs_nav {
  margin-bottom: 60px;

  @include media-tablet-horizontal {
    margin-bottom: 300px;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include media-tablet {
      flex-wrap: nowrap;
    }
  }

  li:not(:last-child) {
    margin-bottom: 20px;

    @include media-tablet {
      margin-bottom: 0;
    }

    @include media-tablet-horizontal {
      margin-right: 60px;
    }
  }

  &--button {
    font-size: 32px;
    line-height: 35px;
    font-weight: 600;
    color: $gray;
    background: none;
    border: none;
    cursor: pointer;

    &:hover,
    &.-active {
      color: $blue;
    }
  }
}
