@import "../mixins/media";

.tabs {
  position: relative;
  padding-top: 65px;
  background: linear-gradient(180deg, $white 0%, rgba($white, 0) 40.25%);

  @include media-tablet {
    padding-top: 135px;
  }

  &--panel {
    display: none;

    &.-active {
      display: block;
    }

    img {
      width: 100%;
    }
  }
}
