extends common/layout

block content
  main.main
    include ./includes/index/hero

    include ./includes/index/partners

    +partners('Наши партнеры:', '')
      ul.partners--logos
        li.partners--item 
          img(src="./img/companies-logos/grand-hall.png", alt="Grand Hall logo")

        li.partners--item 
          img(src="./img/companies-logos/sun-city.png", alt="Sun City logo")

        li.partners--item 
          img(src="./img/companies-logos/jumbo.png", alt="Jumbo logo")

        li.partners--item 
          img(src="./img/companies-logos/terranova.png", alt="Terranova logo")

        li.partners--item 
          img(src="./img/companies-logos/partner-logo.png", alt="")

        li.partners--item 
          img(src="./img/companies-logos/inamstro.png", alt="Inamstro logo")

        li.partners--item 
          img(src="./img/companies-logos/maximilian.png", alt="Maximilian Pub&Grill logo")

        li.partners--item 
          img(src="./img/companies-logos/astercon.png", alt="Astercon logo")

    include ./includes/index/why_us

    include ./includes/index/cta

    +partners('','Эксклюзивный импортер ПВХ-профилей KMG ALTEST и оконно-дверной фурнитуры Endow.')
      ul.partners--logos.-padded
        li.partners--item 
          img(src="./img/companies-logos/altest.png", alt="Altest logo")

        li.partners--item 
          img(src="./img/companies-logos/kmg.png", alt="KMG logo")

        li.partners--item 
          img(src="./img/companies-logos/endow-bw.png", alt="Endow logo")

        li.partners--item 
          img(src="./img/companies-logos/maco-bw.png", alt="Maco logo")

        li.partners--item 
          img(src="./img/companies-logos/kalekilit.png", alt="Kale Kilit logo")

        li.partners--item 
          img(src="./img/companies-logos/winhouse.png", alt="Winhouse logo")

        li.partners--item 
          img(src="./img/companies-logos/g-u-bw.png", alt="G-U logo")

        li.partners--item 
          img(src="./img/companies-logos/veratec.png", alt="Veratec logo")

    include ./includes/index/slider

    include ./includes/index/tabs

    include ./includes/index/cards
