// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

// Colors
$white: white;
$black: #23242a;
$gray: #949aa0;
$blue: #0e6fff;
